.sidebar.clearfix 
    img(src="img/7.jpg", alt="sideImg")
    i.fa.fa-times
    h3 PORTFOLIO
    em Template coded by Marko
    ul
        li: a(href="#"): i.fa.fa-windows  PORTFOLIO
        li: a(href="#"): i.fa.fa-user  ABOUT
        li: a(href="#contact"): i.fa.fa-mobile  CONTACT
        
    ul.list-inline
        li: i.fa.fa-camera
        li: i.fa.fa-quora
        li: i.fa.fa-snowflake-o
        li: i.fa.fa-grav
        li: i.fa.fa-podcast
        