mixin slidze(brSl, naslov, parag)
    .col
        img(src="img/#{brSl}.jpg", alt="slika")
        .showAdd 
            h5 This is food
            p  Lorem   enim ad minim ercitation ullaiquip fugiat null sint occaecat cupi
            ul
                li.fa.fa-envira
                li.fa.fa-snapchat
                li.fa.fa-viadeo-square
                li.fa.fa-wpbeginner
        h2 #{naslov}
        p   #{parag}
mixin tags(text)
    p= text
