mixin myMixin(src, name, add)
    .mini-container
        img(src="img/team#{src}.jpg", alt="")
        h3 #{name}
        em #{add}
        p Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
        button Contact
