main {
    font-size: 1.2em;
    width: 85%;
    margin: 0 auto;
    margin-bottom: 100px;
    h1 {
        margin-bottom: 30px;
        font-weight: 100;
        
    }
    p.blue {
        color: darken(lightblue,25%);
    }
    p {
        margin-bottom: 15px;
    }   
}
input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 20px;
    border:none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.64);
}
  button {
        padding: 15px;
          margin-top: 15px;
        background: black;
        color: white;
      cursor: pointer;
      border: none;
    }