$main-clr: #ff3b00;

header {
    display: flex;
    justify-content: space-between;
    background: #f2f1f1;
    ul {
        display: flex;
        li {
            margin-top: .5rem;
              font-size: 1.1rem;
            a {
                padding: 1rem;     
                color: black;
                  &.active {
                    background: $main-clr;
                    color: white;
                }
                &:hover {
                    text-decoration: none;
                    background: #9f9f9f;
                    color: black;
                
                }
               
            }
            i{margin-right: .5rem;}
        }
    }
    button {
        border: none;
        width: 130px;
        font-size: 1.1rem;
        &:hover {
            background: #9a9a9a;
        }
    }
}

@media screen and (max-width: 550px){
    header {
        flex-direction: column;
        text-align: center;
        ul {
            flex-direction: column; 
            flex: 1;
            li{
                width: 100%;
                flex: 1;
                &:first-child {
                    width: 100%;
                    background: $main-clr;
                    padding: 1rem;
                }
                a {    
                    &:hover {
                        background: transparent;
                        font-weight: 500;
                    }
                }
            }
        }
        button {
            width: 100%;
            padding: 1rem;
        }
    }
   
}