doctype html
html(lang='en')
  head
      //meta tags
      meta(name='viewport', content='width=device-width, initial-scale=1')
      meta(charset='utf-8')
      meta(name='description', content='')
      meta(name='keywords', content='')
      meta(name='author', content='Marko')
      //title
      title Travel template
      //icon
      link(rel="icon", type='image/png', href="assets/img/favicon.png")
      //CDN(s)
      link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
      link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous")

      link(rel="stylesheet", href="assets/css/main.css")
  body
    header
       ul.list-inline
           li: a.active(href="#") <i class="fa fa-bed" aria-hidden="true"></i>  Logo
           li: a(href="#") Rooms
           li: a(href="#") About
           li: a(href="#") Contact
       button Book Now
  
    #wrapper 
       main
           img(src="assets/img/hotel.jpg", alt="mainIng")
           .card.container
              .card-header
                  h2.card-title  <i class="fa fa-bed" aria-hidden="true"></i> Hotel Name
              .container-fluid
                  .card-block.row
                      .col-sm-6
                          label(for="date-in") <i class="fa fa-calendar" aria-hidden="true"></i> Check In
                          input.form-control#date-in(type="date", placeholder='DD MM YYYY')
                          br
                          label(for="adults") <i class="fa fa-male" aria-hidden="true"></i> Adults
                          input.form-control#adults(type="number", value='1')

                      .col-sm-6
                          label(for="date-out") <i class="fa fa-calendar" aria-hidden="true"></i> Check Out
                          input.form-control#date-in(type="date", placeholder='DD MM YYYY')
                          br
                          label(for="kids") <i class="fa fa-child" aria-hidden="true"></i> Kids
                          input.form-control#adults(type="number", value='0')
                  button.btn.btn Search Avability   

       section.rooms.mt-4
           .container-fluid
             h3 Rooms
             p Make yourself at home is our slogan. We offer the best beds in the industry. Sleep well and rest well.
             .row
               .col-sm-3
                   label(for="cIN") <i class="fa fa-calendar" aria-hidden="true"></i> Check In
                   input#cIN.form-control(type="date", placeholder='DD MM YY')
                
               .col-sm-3
                 label(for="cOut") <i class="fa fa-calendar" aria-hidden="true"></i> Check Out
                 input#cOut.form-control(type="date", placeholder='DD MM YY') 
                 
               .col-sm-2
                 label(for="ad") <i class="fa fa-male" aria-hidden="true"></i> Adults
                 input#ad.form-control(type="Number", placeholder='1')
               .col-sm-2
                 label(for="kids") <i class="fa fa-child" aria-hidden="true"></i> Kids
                 input#ad.form-control(type="Number", placeholder='0')
               .col-sm-2
                 p: <i class='fa fa-search'></i> Search  
                 button.btn.btn-black Search
             .row
                 .col-sm-4
                     .card
                         img.img-fluid(src="assets/img/room_single.jpg", alt="")
                         h3 Single Room
                         p.text-muted From $99
                         p Single bed
                         p 15m<sup>2</sup>
                         p <i class="fa fa-snowflake-o" aria-hidden="true"></i> <i class="fa fa-thermometer-full" aria-hidden="true"></i> <i class="fa fa-adjust" aria-hidden="true"></i>
                         button.btn.btn-black Choose Room 
                 .col-sm-4
                     .card
                         img.img-fluid(src="assets/img/room_double.jpg", alt="")
                         h3 Double Room
                         p.text-muted From $199
                         p Double bed
                         p 15m<sup>2</sup>
                         p <i class="fa fa-snowflake-o" aria-hidden="true"></i> <i class="fa fa-thermometer-full" aria-hidden="true"></i> <i class="fa fa-adjust" aria-hidden="true"></i>  <i class="fa fa-wifi" aria-hidden="true"></i>
                         button.btn.btn-black Choose Room 
                 .col-sm-4
                     .card
                         img.img-fluid(src="assets/img/room_deluxe.jpg", alt="")
                         h3 Deluxe Room
                         p.text-muted From $399
                         p Many beds
                         p 35m<sup>2</sup>
                         p <i class="fa fa-snowflake-o" aria-hidden="true"></i> <i class="fa fa-thermometer-full" aria-hidden="true"></i> <i class="fa fa-adjust" aria-hidden="true"></i>  <i class="fa fa-wifi" aria-hidden="true"></i>  <i class="fa fa-cutlery" aria-hidden="true"></i> <i class="fa fa-bath" aria-hidden="true"></i>

                         button.btn.btn-black Choose Room 
       section.about.mt-5
           .row
               .col-sm-7.col-md-4
                   h4 About
                   p Our hotel is one of a kind. It is truely amazing. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                   p We accept: <i class="fa fa-credit-card"></i> <i class="fa fa-cc-mastercard"></i> <i class="fa fa-cc-amex"></i> <i class="fa fa-cc-cc-visa"></i> <i class="fa fa-cc-paypal"></i>
               .col-sm-5.col-md-8
                   <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBnqku5VR2hT6cmqCD5qOxbwaVo0Te6ZCE &q=Space+Needle,Seattle+WA" allowfullscreen></iframe>
           .row.mt-4
               .col-sm-4
                   p <i class='fa fa-map-marker'></i> Some adr, Chicago, SRB 
               .col-sm-4
                   p <i class='fa fa-phone'></i> Phone: + 021/231-221
               .col-sm-4
                   p.wb <i class='fa fa-envelope'></i> Email: mail@mail.com 
           .row
               .alert.alert-danger
                    p.text-white: <i class="fa fa-info-circle fa-2x" aria-hidden="true"></i> On demand, we can offer playstation, babycall, children care, dog equipment, etc.
                    
       section.offer.mt-3
           h4 Our Hotels
           p You can find our hotels anywhere in the world:
           .container-fluid
               .row
                   .col-sm-6
                     img(src="assets/img/cinqueterre.jpg", alt="")
                     h3.text-white Cinque Terre
                   .col-sm-6
                       .row
                           .col-sm-6
                               img(src="assets/img/newyork2.jpg", alt="")
                               h5.text-white New York
                               
                           .col-sm-6
                               img(src="assets/img/sanfran.jpg", alt="")
                               h5.text-white San Francisco
                       .row
                           .col-sm-6
                               img(src="assets/img/pisa.jpg", alt="")
                               h5.text-white Pisa
                               
                           .col-sm-6
                               img(src="assets/img/paris.jpg", alt="")
                               h5.text-white Paris
       article.contact.mt-2
           .card.text-white
               h3 Get our best offer first!
               p Join our newsletter
               
               p E-mail
               input.form-control(type="text", placeholder='Your email address', required)
               button.btn.btn-danger Subscribe
           .subContact.mt-3
                h3 Contact
                p If you have any questions, do not hesitate to ask them.
                p <i class='fa fa-map-marker'></i> NS, RS
                p <i class='fa fa-phone'></i> Phone: 021/212-111
                p <i class='fa fa-envelope'></i> Email: mymail@mail.com
                form
                    input.form-control(type="text", placeholder='Name', required)
                    input.form-control(type="text", placeholder='Email', required)
                    input.form-control(type="text", placeholder='Message', required)
                    button.btn.btn-black SEND MESSAGE
    footer.mt-3
        p.text-white Find Us On
        <div class="w3-xlarge w3-padding-16">
        <i class="fa fa-facebook-official w3-hover-text-indigo"></i>
        <i class="fa fa-instagram w3-hover-text-purple"></i>
        <i class="fa fa-snapchat w3-hover-text-yellow"></i>
        <i class="fa fa-pinterest-p w3-hover-text-red"></i>
        <i class="fa fa-twitter w3-hover-text-light-blue"></i>
        <i class="fa fa-linkedin w3-hover-text-indigo"></i>
         </div>
        p.text-white.last Coded by
            a(href="#") Marko
               

    //javascript(s)
    script(src='https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous')
    script(src='assets/js/main.js')
       